#Header{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: rgb(98, 102, 104);
    color: rgb(17, 14, 196);
    padding: 20px;
}
.mainbody{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
    margin-left: 200px;
    margin-right: 200px;
}
.myList{
    text-align: left;
    display: inline-block;
}
footer{
    text-align: center;
    background-color: rgb(98, 102, 104);
    padding: 20px;
}